<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'exchange','Appointments eligible to exchange')}" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Request Confirmation</title>
</head>

<body>
	<div class="row" style="margin-top: 50px">

		<div class="container">
			<div class="row justify-content-center">
				<div clas="col-md-1"></div>
				<div>
					<p th:text="${message}"></p>
				</div>
			</div>

		</div>
</body>

</html>