<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Select service')}" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Selected service</title>
</head>


<body>
	<div class="row align-items-center justify-content-center d-block" style="margin-top: 50px">
		<div class="row align-items-center justify-content-center" style="margin-top: 50px">
			<div>
				<table aria-hidden="true" id="customers" class="table table-striped text-center">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Duration</th>
							<th scope="col">Price</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${works == null}">
							<td colspan="4">No works available</td>
						</tr>
						<tr th:each="work : ${works}">
							<td>
								<span th:text="${work.name}"> work name </span>
							</td>
							<td>
								<span th:text="${work.duration }"> 30 min </span>
							</td>
							<td>
								<span th:text="${work.price}"> 3 </span>
							</td>
							<td>
								<a class="btn btn-primary" th:href="@{'/appointments/new/'+${providerId} +'/'+ ${work.id}}" role="button">Select</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
</body>

</html>